<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Start chat right in a browser</p>
    <img src="assets/images/chat-logo.png" alt="I'm WebChat">
    <p class="lead">
      <button class="btn btn-lg btn-block btn-info" ng-click="modal('Start chat')">Start Chat</button></p>
  </div>
</header>

<div class="clearfix"></div>

<div class="container-fluid">
  <div class="row">
      <!--<div class="embed-responsive embed-responsive-16by9">-->
        <!--<iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/6Ejga4kJUts" allowfullscreen></iframe>-->
      <!--</div>-->
  </div>
</div>


<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



<footer class="footer">
  <div class="container">
      <p>WebChat</p>
  </div>
</footer>
